@model FlyBugClub_WebApp.Models.Device

<h1>Chi tiết sản phẩm</h1>
<h1>@ViewBag.note</h1>
<table>
    <tr>
        <td class="image"><img src="~/img/img_products/@Model.ImagePath" alt="Item"></td>
        <td class="item-name">@Model.Name</td>
        <td class="qty">
            <div class="center">
                <div class="qty">
                    <button class="minus" value="-">
                        <i class="fa-solid fa-minus"></i>
                    </button>
                    <p>x @Model.Quantity</p>
                    <button class="plus" value="+">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
        </td>
        <td>@Model.Price.ToString("0.000") VND</td>
    </tr>
</table>